includes:
	- phpstan-baseline.neon

parameters:
	level: 1
	
	paths:
		- src
		- tests

	excludePaths:
		- tests/fixtures/*
		- tests/TestClasses/FakeOutput.php
		- tests/TestClasses/FakeFormatter.php
		
	ignoreErrors:
		- '#Unsafe usage of new static\(\)#'
